

.form-ct {
  padding: 20px;
  display: flex;
}

.form {
  padding-bottom: 15px;
  color: gray;
}

.form label {
  display: block;
}

.form input, .form textarea {
  padding: 8px;
  width: 100%;
  background-color: rgb(247, 246, 246);

}

.firstName input, .lastName input {
  padding: 8px;
  width: 40%;
  background-color: rgb(247, 246, 246);
}

.firstName label, .lastName label {
  display: block;
}

.firstName, .lastName {
  padding-bottom: 15px;
  color: gray;
}

.form textarea {
  height: 100px;
}
